<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${product.getTitle()}"></title>
    <link rel="icon" th:href="@{/../images/i2.ico}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/../css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/nouislider.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/style.css}"/>
</head>
<body>
<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left, list-inline">
                <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
            </ul>

        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div class="dropdown">
<!--                                <div>-->
<!--                                <a href="javascript:history.back()">Назад</a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <a href="javascript:history.back()">Назад</a>
</div>
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
<!--            <ul class="list-inline, main-nav nav navbar-nav">-->
<!--                <li class="active"><a href="#">Главная</a></li>-->
<!--&lt;!&ndash;                <li><a href="#">Одежда</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="#">Бытовая техника</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="#">Мебель</a></li>&ndash;&gt;-->
<!--            </ul>-->
        </div>
    </div>
</nav>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div>
                        <h3  th:text="${product.getTitle()}"></h3>
                        <div class="mainDiv" th:each="img : ${product.getImageList[0]}">
                            <img th:src="'/img/' + ${img.getFileName()}">
                        </div>
                        <h3>Информация о товаре: </h3>
                        <h4><span  th:text="'Наименование: ' + ${product.getTitle()}"></span>
                        <br></h4>
                        <span  th:text="'Описание: ' + ${product.getDescription()}"></span>
                        <br>
                        <span  th:text="'Склад: ' + ${product.getWarehouse()}"></span>
                        <br>
                        <span  th:text="'Продавец: ' + ${product.getSeller()}"></span>
                        <br>
                        <span  th:text="'Категория: ' + ${product.getCategory().getTitle()}"></span>
                        <br><br><br>
                        <div class="product-details">
                            <h4><span  th:text="'Наименование: ' + ${product.getTitle()}"></span></h4>
                            <div>
                                <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/cart/add/{id}(id=${product.getId()})}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button></a>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="product-preview" th:each="img : ${product.getImageList()}">
                    <img th:src="'/img/' + ${img.getFileName()}">
                    <br><br>
                </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-details">
                    <h4><span  th:text="${product.getTitle()}"></span></h4>
                    <div>
                        <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>
                    </div>
                    <div class="add-to-cart">
                        <a th:href="@{/cart/add/{id}(id=${product.getId()})}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Доступные товары</h3>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" th:each="product : ${products}">
                <div class="product">
                    <div class="product-img">
                    </div>
                    <div class="product-body">
                        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                        <p th:text="'Категория: ' + ${product.getCategory().getTitle()}"></p>
                        <img th:src="'/img/'+${product.imageList[0].getFileName()}" width="100">
                        <br>
                        <div>
                            <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>
                        </div>
                        <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробнее</a>
                        <br>

                        <hr>
                        <br>
                        <div class="add-to-cart">
                            <a th:href="@{/cart/add/{id}(id=${product.getId()})}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <ul>
<!--                        <ul class="list-inline" class="footer-links">-->
                            <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
        </div>
    </div>
    <div id="bottom-footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/slick_min.js}"></script>
<script type="text/javascript" th:src="@{/../js/nouislider.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/jquery.zoom.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/main.js}"></script>
</body>
</html>
