<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <title th:text="${product.getTitle()}"></title>-->
    <link rel="icon" th:href="@{/../images/i2.ico}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/../css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/nouislider.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/../css/style.css}"/>
</head>
<body>
<form method="POST" th:action="@{/logout}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left, list-inline">
                <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
            </ul>
            <ul class="list-inline, header-links, pull-right">
                <li><a href="/authentication"><i class="fa fa-user-o"></i>Войти в систему</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i>Личный кабинет</a></li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                    </div>
                </div>
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <div class="product-widget">
                                <div class="product-img">
                                </div>
                                <div class="product-body">
                                </div>
                                <button class="delete"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                        <div class="cart-summary">
                        </div>
                        <div class="cart-btns">
                            <form method="get" th:action="@{/cart}">
                                <button type="submit">Корзина</button>
                            </form>
                            <form method="get" th:action="@{/product}">
                                <button type="submit">Главная</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="menu-toggle">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                        <span>Меню</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>
<h3>Сортировка, поиск, фильтрация</h3>
<form th:method="POST" th:action="@{/person account/product/search}">
    <fieldset>
        <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
        <label for="search">Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, Р</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товара:</p>
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Мебель</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Бытовая техника</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Одежда</label>
            <br>
            <br>
            <input type="submit" value="Найти">
        </div>
    </fieldset>
</form>
<div th:each="product: ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px"><br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p><hr>
</div>
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="list-inline, main-nav nav navbar-nav">
<!--                <li class="active"><a href="#">Главная</a></li>-->
<!--                <li><a href="#">Одежда</a></li>-->
<!--                <li><a href="#">Бытовая техника</a></li>-->
<!--                <li><a href="#">Мебель</a></li>-->
                <!--                <li><a href="#">Смартфоны</a></li>-->
                <!--                <li><a href="#">Камеры</a></li>-->
                <!--                <li><a href="#">Аксессуары</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<!--<div class="section">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-5 col-md-push-2">-->
<!--                <div id="product-main-img">-->

<!--                    <div>-->
<!--                        <h3  th:text="${product.getTitle()}"></h3>-->
<!--                        <div class="mainDiv" th:each="img : ${product.getImageList[0]}">-->
<!--                            <img th:src="'/img/' + ${img.getFileName()}">-->
<!--                        </div>-->
<!--                        <h3>Информация о товаре: </h3>-->
<!--                        <h4><span  th:text="'Наименование: ' + ${product.getTitle()}"></span>-->
<!--                            <br></h4>-->
<!--                        <span  th:text="'Описание: ' + ${product.getDescription()}"></span>-->
<!--                        <br>-->
<!--                        <span  th:text="'Склад: ' + ${product.getWarehouse()}"></span>-->
<!--                        <br>-->
<!--                        <span  th:text="'Продавец: ' + ${product.getSeller()}"></span>-->
<!--                        <br>-->
<!--                        <span  th:text="'Категория: ' + ${product.getCategory().getTitle()}"></span>-->
<!--                        <br><br><br>-->
<!--                        <div class="product-details">-->
<!--                            <h4><span  th:text="'Наименование: ' + ${product.getTitle()}"></span></h4>-->
<!--                            <div>-->
<!--                                <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>-->
<!--                            </div>-->
<!--                            <div class="add-to-cart">-->
<!--                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="product-preview" th:each="img : ${product.getImageList()}">-->
<!--                    <img th:src="'/img/' + ${img.getFileName()}">-->
<!--                    <br><br>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-5">-->
<!--            <div class="product-details">-->
<!--                <h4><span  th:text="${product.getTitle()}"></span></h4>-->
<!--                <div>-->
<!--                    <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>-->
<!--                </div>-->
<!--                <div class="add-to-cart">-->
<!--                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Доступные товары</h3>
                </div>
            </div>
            <div class="col-md-3 col-xs-6" th:each="product : ${products}">
                <div class="product">
                    <div class="product-img">
                    </div>
                    <div class="product-body">
                        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                        <p th:text="'Категория: ' + ${product.getCategory().getTitle()}"></p>
                        <img th:src="'/img/'+${product.imageList[0].getFileName()}" width="100">
                        <br>
                        <div>
                            <h3 class="product-price" th:text="'Цена: ' + ${product.getPrice()}"></h3>
                        </div>
                        <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробнее</a>
                        <br>

                        <hr>
                        <br>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <ul class="list-inline" class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
        </div>
    </div>
    <div id="bottom-footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/slick_min.js}"></script>
<script type="text/javascript" th:src="@{/../js/nouislider.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/jquery.zoom.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/main.js}"></script>
</body>
</html>


<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Список товаров</title>-->
<!--    <link rel="icon" href="../../static/images/i2.ico">-->
<!--    <meta name="keywords" content="проектирование, инжиниринг, эксплуатация, экономика, образование">-->
<!--    <meta name="description" content="Российский экономический Университет имени Г.В. Плеханова">-->
<!--    <meta name="author" content="Суханенков Владимир Николаевич">-->
<!--    <meta name="robots" content="NOINDEX, NOFOLLOW">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="default-style"  content="default">-->
<!--    <link rel="stylesheet" th:href="@{/css/main_style.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/text.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/bg.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/up.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">-->
<!--    <style>-->
<!--        @font-face-->
<!--        {-->
<!--            src: url(../../static/opensans/OpenSans-Regular.ttf);-->
<!--            font-family: Open Sans;-->
<!--        }-->
<!--        @font-face-->
<!--        {-->
<!--            src: url(../../static/opensans/OpenSans-Italic.ttf);-->
<!--            font-family: osItalic;-->
<!--        }-->
<!--        @font-face-->
<!--        {-->
<!--            src: url(../../static/opensans/OpenSans-ExtraBold.ttf);-->
<!--            font-family: osBold;-->
<!--        }-->
<!--        @font-face-->
<!--        {-->
<!--            src: url(../../static/opensans/OpenSans-ExtraBoldItalic.ttf);-->
<!--            font-family: osBoldIt;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <div class="wave"></div>-->
<!--    <div class="wave"></div>-->
<!--    <div class="wave"></div>-->
<!--</div>-->
<!--&lt;!&ndash;В Config прописали, что эта страница будет доступна всем пользователям&ndash;&gt;-->

<!--<h2>Главная страница</h2>-->
<!--<h3>Сортировка, поиск, фильтрация</h3>-->
<!--&lt;!&ndash;th:action - указываем, каким URL-адресом будет обработана наша страница(на какой адрес-->
<!--её отправляем, т.е. этот адрес д.б. у соответствующего контролера-->
<!--В name указываем имя, по которому контроллер будет принимать введенные значения с поля&ndash;&gt;-->
<!--<form th:method="POST" th:action="@{/product/search}">-->
<!--    <fieldset>-->
<!--        <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>-->
<!--        <label for="search">Поиск по наименованию</label>-->
<!--        <input type="text" id="search" name="search" th:value="*{value_search}">-->
<!--        <br>-->
<!--        <p>Цена, Р</p>-->
<!--        <label for="ot">От</label>-->
<!--        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">-->
<!--        <label for="do">До</label>-->
<!--        <input type="text" name="do" id="do" th:value="*{value_price_do}">-->
<!--        <br>-->
<!--        <br>-->
<!--        <div>-->
<!--            &lt;!&ndash;  Отправляем по ключу value полученное с формы значение на контроллер и обрабатываем его там&ndash;&gt;-->
<!--            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">-->
<!--            <label for="ascending_price">Отсортировать по возрастанию цены</label>-->
<!--            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">-->
<!--            <label for="descending_price">Отсортировать по убыванию цены</label>-->
<!--            <p>Категория товара:</p>-->
<!--            <input type="radio" id="furniture" name="contract" value="furniture">-->
<!--            <label for="furniture">Мебель</label>-->
<!--            <input type="radio" id="appliances" name="contract" value="appliances">-->
<!--            <label for="appliances">Бытовая техника</label>-->
<!--            <input type="radio" id="clothes" name="contract" value="clothes">-->
<!--            <label for="clothes">Одежда</label>-->
<!--            <br>-->
<!--            <br>-->
<!--            <input type="submit" value="Найти">-->
<!--        </div>-->
<!--    </fieldset>-->
<!--</form>-->
<!--<hr>-->
<!--<h3>Результат поиска, сортировки, фильтрации</h3>-->
<!--&lt;!&ndash;Тут мы принимаем {search_product}, который приходит к нам из метода productSearch продуктКонтроллера, который обрабатывает поисковый запрос&ndash;&gt;-->
<!--<div th:each="product: ${search_product}">-->
<!--    &lt;!&ndash;Изображение по ссылке /img/названиеФото, где заместо /img/ подставиться значение, указанное в классе Config-->
<!--    (там указано, что если встречается путь "/img/, то вместо него подставляем "file:///"+uploadPath+"/",-->
<!--    а после слэша будет название первой фотографии в листе фотографий данного товара&ndash;&gt;-->
<!--    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">-->
<!--    <br>-->
<!--    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>-->
<!--    <p th:text="'Цена: ' + ${product.getPrice()}"></p>-->
<!--    <hr>-->
<!--</div>-->

<!--<h3>Доступные товары: </h3>-->
<!--&lt;!&ndash;Проходимся циклом по продуктам и для каждого выводим:&ndash;&gt;-->
<!--<div th:each="product: ${products}">-->
<!--    &lt;!&ndash;Изображение по ссылке /img/названиеФото, где заместо /img/ подставиться значение, указанное в классе Config-->
<!--    (там указано, что если встречается путь "/img/, то вместо него подставляем "file:///"+uploadPath+"/",-->
<!--    а после слэша будет название первой фотографии в листе фотографий данного товара&ndash;&gt;-->
<!--    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">-->
<!--    <br>-->
<!--    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>-->
<!--    <p th:text="'Цена: ' + ${product.getPrice()}"></p>-->
<!--    <hr>-->

<!--</div>-->
<!--<a href="javascript:history.back()">Назад</a>-->
<!--</body>-->
<!--</html>-->