<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Пользователи</title>
  <link rel="icon" th:href="@{/../images/i2.ico}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" th:href="@{/../css/bootstrap.min.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/../css/slick.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/../css/slick-theme.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/../css/nouislider.min.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/../css/style.css}"/>
  <meta name="keywords" content="проектирование, инжиниринг, эксплуатация, экономика, образование">
  <meta name="description" content="Российский экономический Университет имени Г.В. Плеханова">
  <meta name="author" content="Суханенков Владимир Николаевич">
  <meta name="robots" content="NOINDEX, NOFOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="default-style"  content="default">
  <style>
  </style>
</head>
<body>
<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left, list-inline">
        <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
      </ul>

    </div>
  </div>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <div class="dropdown">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
<div class="window">
<form method="get" th:action="@{/product}">
  <button type="submit">Главная</button>
</form>
<form method="POST" th:action="@{/logout}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <button type="submit">Выйти из кабинета</button>
</form><br>
<a href="/admin">Назад в кабинет</a><hr><br>
<h3>Список всех пользователей</h3><br>
<div th:each="user : ${users}">
  Логин пользователя: <a th:href="@{/admin/user/{id}(id=${user.getId()})}" th:text="${user.getLogin()}"></a>
  <p th:text="'Роль пользователя: ' + ${user.getRole}"></p><hr><br>
</div>
<a href="javascript:history.back()">Назад</a>
</div>
<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <ul>
<!--            <ul class="list-inline" class="footer-links">-->
              <li><a href="#"><i class="fa fa-map-marker"></i>Адрес</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>Телефон</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>Электронная почта</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
      </div>
    </div>
  </div>
  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" th:src="@{/../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/slick_min.js}"></script>
<script type="text/javascript" th:src="@{/../js/nouislider.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/jquery.zoom.min.js}"></script>
<script type="text/javascript" th:src="@{/../js/main.js}"></script>
</body>
</html>