h1, h2, h3{
  color: darkblue;
}
span{
  color: rgb(65, 65, 65);
}
body{
  padding: 15px 15px 15px 15px ;
  font-size: 19px;
  margin: 20px 20px auto;
  display: grid;
  grid-template-columns:  1fr 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas:
  "article aside"
  "nav aside"
  "main aside"
  "footer footer";
}
img{
  max-width: 100%;
  border: 1px solid darkblue;
}
img:hover{
  max-width: 100%;
  border: 1px solid darkblue;
  -moz-transition: -moz-transform .2s ease-out;
  -webkit-transition: -webkit-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out;

  webkit-transition: -webkit-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out;
  transition: transform .2s ease-out;
  transform: scale(1.03, 1.03);
  transition: .2s ease-out;
  cursor: zoom-in;
}

  article, nav,  main, aside, footer{
  background: rgb(233, 233, 233);
  border-radius: 7px;
  padding: 15px;
}
video{
  max-width: 100%;
}
.tabv{
  width: 90%;
  box-align: center;
}
.article{
  grid-area:article;
  font-family: osBold;
  /*font-size: 27px;*/
  font-size: 25px;
}
.mainDiv{
float: left;
padding: 15px;
width: 50%;
}
.main{
  grid-area:main;
  font-family: "Open Sans";
  /*font-size: 20;*/
}
.osbold{
  font-family: osBold;
}
.osBoldIt{
  font-family: osBoldIt;
}
.aside{
  float: left;
  width: 90%;
  font-family: "Open Sans";
  grid-area:aside; 
}
.osIt{
  font-family: osItalic;
}
.footer{
  font-family: "Open Sans";
  grid-area:footer; 
}
@media all and (max-width: 600px)
{
  body{
    width: 93%;
    padding: 15px;
    grid-template-areas:
    "article"
    "nav"
    "main"
    "aside"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;    
  }
  img{
    width: 100%;
  }
  .aside{
    float: left;
    margin: 0 auto;
    width: 94%;
    font-family: "Open Sans";
    grid-area:aside;
  }
  .tabv{
    width: 100%;
    margin: 0 auto;
    box-align: center;
  }
}