.top{
	color: grey;
	display: inline-block;
	position: relative;
	border-color: grey;
	text-decoration: none;
	transition: all 0.2s ease-out;
}
.top:before{
  text-align: center;
	content:"▲";
	font-size: 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	margin-left: 10px;
	border: solid 5px blue;
	border-radius: 50%;
	width: 43px;
	height: 43px;
	line-height: 38px;
	border-color: inherit;
	transition: transform 0.5s ease-in;
}
.top:hover{
	color: blue;
	border-color: blue;
}
.top:hover:before{
	transform: rotate(360deg);
}