<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  	<title>Вёрстка WEB-страниц на HTML и CSS. Промежуточная аттестация</title>

		<link rel="icon" href="../static/images/i2.ico">
		<meta name="keywords" content="проектирование, инжиниринг, эксплуатация, экономика, образование">
		<meta name="description" content="Российский экономический Университет имени Г.В. Плеханова">
		<meta name="author" content="Суханенков Владимир Николаевич">
		<meta name="robots" content="NOINDEX, NOFOLLOW">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="default-style"  content="default">

		<style>

		</style>
  </head>
	<body>

		<article class="article"><a href="product"><h1>ALFA - СЕТЕВЫЕ РЕШЕНИЯ</h1></a></article>
		<nav class="nav">
			<div>
				<ul>
					<a href="#f1"><div><li>Экономика</li></div></a>
					<a href="#f2"><div><li>Инжиниринг</li></div></a>
					<a href="#f3"><div><li>Студента ждут</li></div></a>
					<a href="#f4"><div><li>Наша справка</li></div></a>
					<a href="#f5"><div><li>Видео</li></div></a>
				</ul>
			</div>
		</nav>
		<main class="main">
			<div class="mainDiv">
				<img src="../static/images/photo.jpg" alt="" tabindex="0">
			</div>
			<div>
			<h2 class="osBold">«Плешка» — как кузница технарей и будущих бизнесменов.</h2>
			<span>Почему выпускников РЭУ им. Г.В. Плеханова называют Специалистами с большой буквы.
			Многие, услышав название «Российский экономический Университет имени Г.В. Плеханова», полагают, что из его стен выходят исключительно специалисты по экономике. Потому что далеко не все знают: здесь можно получить великолепное техническое образование. И нередко абитуриенты, мечтающие об инженерном образовании, обходят «плешку» стороной.<br><br></span>
			<span class="osBold">А зря!<br><br></span>
			<h3 id="f1" class="osBold">Не только экономика<br><br></h3>			
			<span>Действительно, Российский экономический Университет имени Г.В. Плеханова, имеющий более чем 110-летнюю историю, считается одним из ведущих экономических вузов страны. Однако он дает своим студентам качественное образование не только в области экономических, но и технических наук.<br><br></span>
			<span>К примеру, направление «Технологические машины и оборудование» — одно из старейших в РЭУ им. Г.В. Плеханова. Подготовкой специалистов по этому направлению занимается факультет, который сегодня называется «Факультет гостинично-ресторанной, туристической и спортивной индустрии» — сокращенно ГРТСИ, в том числе кафедра ресторанного бизнеса.<br><br></span>
			<span>Здесь, к слову, надо заметить, что Плехановский университет, хоть и имеет давнюю историю и дает студентам классическое базовое образование, постоянно идет в ногу со временем, меняя структуру и, соответственно, названия факультетов, кафедр, набор дисциплин и т.д. таким образом, чтобы его выпускники всегда были востребованы отечественной экономикой, промышленностью, наукой.<br><br></span>
			<span>К примеру, кафедра ресторанного бизнеса обучает студентов по таким весьма востребованным инженерным направлениям, как «Технологические машины и оборудование» (профиль — «Машины и аппараты пищевых производств»), «Технология продукции и организация общественного питания» (профиль — «Технология и организация ресторанного дела»), «Технология продукции и организация общественного питания» (профиль — «Технология и организация предприятий быстрого питания»), «Менеджмент», (по профилям «Менеджмент ресторанного бизнеса» и «Менеджмент на предприятиях ресторанно-гостиничного бизнеса»).<br><br></span>
			<span>По этим дисциплинам обучение ведется в очной форме по программе бакалавриата (срок обучения — 4 года) как на бюджетной, так и на договорной основе. После четырех лет обучения выдается диплом государственного образца о высшем образовании с присуждением степени бакалавра по выбранному направлению подготовки.<br><br></span>
			<span>В дальнейшем выпускники бакалавриата могут продолжить обучение, по магистерским программам (срок обучения — 2 года). Магистров готовят по направлениям «Технологические машины и оборудование» (профиль — «Технические комплексы ресторанной индустрии») и «Менеджмент» (профиль — «Менеджмент в индустрии питания»).<br><br></span>
			<span>Любопытно, что около 60% выпускников-бакалавров поступают на бюджетную магистратуру других направлений. Здесь же, в «плешке», но не на инженерное, а на другое направление. Например, на управленческое.<br><br></span>
			<span>После окончания магистратуры студенты имеют возможность поступить в аспирантуру.<br><br></span>
			<h3 id="f2" class="osBold">Проектирование, инжиниринг, эксплуатация...<br><br></h3>
			<span>Обучение построено таким образом, что, с одной стороны, позволяет выпускникам получить глубоко профессиональные знания, а с другой — стать специалистами широкого профиля, способными заниматься самой разнообразной деятельностью в зависимости от складывающейся рыночной конъюнктуры. С целью подготовки профессионалов мирового уровня в учебный процесс внедрены программные продукты, такие как Autodesk AutoCAD, Anylogic, Microsoft Power Point, Microsoft Excel и другие.<br><br></span>
			<span>Закончив обучение по этому профилю, выпускники обладают знаниями и навыками, которые позволяют им создавать конкурентоспособную продукцию машиностроения, основанную на применении современных методов и средств проектирования, расчета, математического, физического и компьютерного моделирования. Проектирование, производство, продажа, эксплуатация, сертификация всех видов торгово-технологического оборудования — вот далеко не полный перечень возможностей выпускников «технического направления» РЭУ им. Г.В. Плеханова.<br><br></span>
			<span>Сюда нужно добавить и знание законов управления производством — этому, как уже было сказано, здесь тоже учат. И получается, что выпускник факультета — готовый топ-менеджер с великолепным техническим образованием! Специалист, которых так не хватает в современной Российской действительности.<br><br></span>
			<h3 id="f3" class="osBold">Когда студента уже ждут на работу...<br><br></h3>
			<span>Будущего специалиста всегда волнует вопрос — вот закончит он вуз, получит диплом... А дальше-то что? Куда пойти работать, сумеет ли применить свои знания на практике? Иначе говоря, будет ли он востребован?<br><br></span>
			<span>Перед выпускниками кафедры ресторанного бизнеса такого вопроса не встает. Потому что кафедра имеет деловые контакты с отраслевыми предприятиями. Большинство преподавателей педагогическую деятельность на кафедре совмещают с научно-производственной работой, активно привлекая к ней и студентов. Так что практически все студенты старших курсов уже знают, где будут работать, получив диплом — их там ждут.<br><br></span>
			<span>Другой не менее важный вопрос — а кем (если не сразу, то в перспективе) будущие выпускники могут стать? Каких высот достичь?<br><br></span>
			<span>Как правило, многие из них становятся руководителями предприятий, занимающихся проектированием, изготовлением, поставкой, сервисным обслуживанием различного оборудования. Причем не только для пищевой перерабатывающей и торговой промышленности. Потому что тепловое оборудование, которому в процессе обучения уделяется ключевое внимание, работает на основе одних и тех же физических законов и принципов — не важно, пищевое это оборудование, или иное, например, связанное с оборонной промышленностью или промышленностью строительных материалов. Это касается и холодильного оборудования (которое здесь тоже основательно «проходят»), и механического, и любого другого.<br><br></span>
			<span>Еще одна группа должностей, на которые приглашают выпускников кафедры — главные конструкторы, главные инженеры, главные специалисты (это главный энергетик, главный механик, главный метролог и т.д.) предприятий.<br><br></span>
			<span>Ну и, конечно, — собственный бизнес еще никто не отменял — выходцы кафедры и факультета в целом обладают достаточным объемом знаний, чтобы открыть собственное предприятие. Открыть свое дело — мечта многих молодых людей сегодня. Только не всем для этого хватает знаний и навыков. А вот выпускникам «плешки» — как правило, хватает!<br><br></span>
			<span>Потому что здесь студент получает, как уже было сказано, не только технические, но и экономические, а также юридические знания — как раз весь набор, что нужен бизнесмену. А кроме того, в ходе учебы можно овладеть и несколькими иностранными языками — было бы желание! А это уже поможет вывести бизнес на международный уровень.<br><br></span>
			<span>— Ну и, конечно же, наши выпускники могут работать — и многие работают! — в органах власти, как в ее исполнительной, так и законодательной ветвях, — рассказывает заведующий кафедрой ресторанного бизнеса <span class="osBold">Виталий Перов.</span> — Особенно в структурах, которые занимаются регулированием, вопросами определения стратегии долгосрочных программ и т.д.<br><br></span>
			<span class="osBold">Дмитрий ЗИБОРОВ<br><br></span>
			<h3 id="f4" class="osBoldIt">Наша справка:<br><br></h3>
			<span class="osbold">РЭУ им. Г.В. Плеханова сегодня — это крупнейший образовательный центр по подготовке специалистов высшей квалификации. Количество студентов в Университете на сегодняшний момент (08.01.2017 - прим.) составляет 64000 человек. РЭУ имени Г.В. Плеханова всегда славился своим преподавательским коллективом. Сегодня здесь работают около 3000 сотрудников, свыше 700 из них являются кандидатами наук, около 350 — докторами. И все они неустанно трудятся над тем, чтобы их знания были переданы новому поколению студентов и аспирантов.<br><br></span>
			<span class="osBold">Этот материал опубликован в декабрьском номере Отраслевого журнала «Строительство». Весь журнал вы можете прочитать или скачать <a href="http://ancb.ru/pdf_archive">здесь.</a><br></span>
		
		<h3 id="f5" class="osBold">Видео</h3>
			<table class="tabv">
				<th>
					<video muted loop controls width="620" height="480">
						<!--autoplay не стал ставить, ноут не справляется - работать невозможно.-->
						<source src="video/video.mp4">
					</video>
				</th>
			</table></div>
		</main>
		<aside class="aside">
			<div>
				<fieldset>
					<legend>Регистрация на сайте</legend>
						<form autocomplete="on" id="form">
							<input type="text" required placeholder="Фамилия" autofocus><hr>
							<input type="text" required placeholder="Имя"><hr>
							<input type="email" required placeholder="Электронная почта"><hr>
							<input type="password" required placeholder="Пароль"><hr>
							<input type="checkbox">Даю согласие на обработку персональных данных<hr>
							<input type="submit" formaction="">
						</form>
					</fieldset>
			</div>
		</aside>
		<footer class="footer">
			<ul class="nav">
				<a nohref="#"><div><li>О нас</li></div></a>
				<a nohref="#"><div><li>Контакты</li></div></a>
				<a nohref="#"><div><li>Справка</li></div></a>
			</ul>
		</footer>
	<div><a href="#" class="top"></a></div>
		<a href="javascript:history.back()">Назад</a>
</body> 
</html>