
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  	<title>Вёрстка WEB-страниц на HTML и CSS. Промежуточная аттестация</title>
	  <!-- Bootstrap CSS -->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			  crossorigin="anonymous">
	  </script>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="../static/images/i2.ico">
		<meta name="keywords" content="проектирование, образование">
		<meta name="description" content="Российский экономический Университет имени Г.В. Плеханова">
		<meta name="author" content="Суханенков Владимир Николаевич">
		<meta name="robots" content="NOINDEX, NOFOLLOW">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="default-style"  content="default">
	  <link rel="stylesheet" th:href="@{/css/main_style.css}" type="text/css">
	  <link rel="stylesheet" th:href="@{/css/text.css}" type="text/css">
	  <link rel="stylesheet" th:href="@{/css/bg.css}" type="text/css">
	  <link rel="stylesheet" th:href="@{/css/up.css}" type="text/css">
	  <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
		<style>
			@font-face
			{
				src: url(../static/opensans/OpenSans-Regular.ttf);
				font-family: Open Sans;
			}
			@font-face
			{
				src: url(../static/opensans/OpenSans-Italic.ttf);
				font-family: osItalic;
			}
			@font-face
			{
				src: url(../static/opensans/OpenSans-ExtraBold.ttf);
				font-family: osBold;
			}
			@font-face
			{
				src: url(../static/opensans/OpenSans-ExtraBoldItalic.ttf);
				font-family: osBoldIt;
			}
		</style>
  </head>
	<body>
		<div>
			<div class="wave"></div>
			<div class="wave"></div>
			<div class="wave"></div>
	 	</div>
		<article class="article"><a href="product"><h1>ALFA - СЕТЕВЫЕ РЕШЕНИЯ</h1></a></article>
		<nav class="nav">
			<div>
				<ul>
					<a href="#f1"><div><li>Экономика</li></div></a>
					<a href="#f2"><div><li>Инжиниринг</li></div></a>
					<a href="#f3"><div><li>Студента ждут</li></div></a>
					<a href="#f4"><div><li>Наша справка</li></div></a>
					<a href="#f5"><div><li>Видео</li></div></a>
				</ul>
			</div>
		</nav>
		<main class="main">
			<div class="mainDiv">
				<img src="../static/images/photo.jpg" alt="" tabindex="0">
			</div>
			<div>
			<h2 class="osBold">«Плешка»</h2>
			<span>Почему выпускников РЭУ им. Г.В. Плеханова<br><br></span>
			<span class="osBold">А зря!<br><br></span>
			<h3 id="f1" class="osBold">Не только экономика<br><br></h3>			
			<span>Действительно, Российский экономический Университет имени Г.В. Плеханова,<br><br></span>
			<span>К примеру, <br><br></span>
			<span>Здесь, к слову, надо заметить, что Плехановский университет, <br><br></span>
			<span>К примеру, кафедра <br><br></span>
			<span>После окончания магистратуры<br><br></span>
			<h3 id="f2" class="osBold">Проектирование, инжиниринг, эксплуатация...<br><br></h3>
			<span>Обучение построено<br><br></span>
			<span>Закончив обучение <br><br></span>
			<span>Сюда нужно добавить<br><br></span>
			<h3 id="f3" class="osBold">Когда студента уже ждут на работу...<br><br></h3>
			<span>Будущего специалиста всегда<br><br></span>
			<span>— Ну и, <span class="osBold">Виталий Перов.</span> — Особенно в<br><br></span>
			<span class="osBold">Дмитрий ЗИБОРОВ<br><br></span>
			<h3 id="f4" class="osBoldIt">Наша справка:<br><br></h3>
			<span class="osbold">РЭУ им. Г.В. Плеханова сегодня <br><br></span>
			<span class="osBold">Этот материал опубликован<a href="http://ancb.ru/pdf_archive">здесь.</a><br></span>
		<h3 id="f5" class="osBold">Видео</h3>
			</div>
		</main>
		<aside class="aside">
			<div>
				<fieldset>
					<legend>Регистрация на сайте</legend>
						<form autocomplete="on" id="form">
							<input type="text" required placeholder="Фамилия" autofocus><hr>
							<input type="text" required placeholder="Имя"><hr>
							<input type="email" required placeholder="Электронная почта"><hr>
							<input type="password" required placeholder="Пароль"><hr>
							<input type="checkbox">Даю согласие на обработку персональных данных<hr>
							<input type="submit" formaction="">
						</form>
				</fieldset>
			</div>
		</aside>
		<footer class="footer">
			<ul class="nav">
				<a nohref="#"><div><li>О нас</li></div></a>
				<a nohref="#"><div><li>Контакты</li></div></a>
				<a nohref="#"><div><li>Справка</li></div></a>
			</ul>
		</footer>
	<div>
		<a href="#" class="top"></a>
	</div>
		<a href="javascript:history.back()">Назад</a>
</body> 
</html>